
nav {
    ul.menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: background-color 0.3s;
      }

      li a:hover {
        background-color: #111;
      }

      .active {
        background-color: #111;
      }
    
}

h1 {
    color:black;
}

ul.properties{
    list-style-type: none;
    text-align: center;
    margin-right: 50px;
    
    
}

.grid-container-profile {
  grid-template-columns: 300px auto 300px;
  display: grid;
  column-gap: 50px;
  row-gap: 50px;

  .item1 { 
    margin-top: 20px;
    margin-left: 20px ;
  }

  .item2 {
    grid-area:2 / 3 / 1 / 2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
  }

  .item3  {
    margin-top: 20px;
    margin-left: -40px;
  }

  .item5{ 
    margin-left: -200px;
    margin-top: -25px;
  }

  .item6 { 
    margin-top: -60px;
    margin-left: -100px;
    
  }

  .pics { 
    border: 5px solid #555  ;
  }

}

.grid-container-faq {
  grid-template-columns: auto auto;
  display: grid;
  row-gap: 100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 70px;

  .item1, .item2, .item3, .item4, .item5 {
    width: 500px;
    border: 1px solid #555  ;
    margin-left: 110px;
    padding: 5px;
    background-color: rgb(218, 216, 216);

}
}

table{
  width: 100%;
  margin-top: 20px;
  font-family: Arial, Helvetica;
  text-align: left;
  tr:nth-child(even) {
    background-color: rgb(201, 186, 197);
  
  }
  tr{
    height: 40px;
    text-indent: 5px;
  
  }

  th{
    width: 20px;
  }
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

.hz {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  margin-top: 20px;
}

.paragraaf1 {
  margin: 30px 100px;
  padding: 5px;
  border: 5px solid grey;
  width: 250px;
  font-size: 20px;
  font-family: fantasy;
  text-shadow: 1px 1px green;

}

.paragraaf2 {
  margin: -235px 100px;
  padding: 5px;
  border: 5px solid grey;
  width: 400px;
  float: right;
  text-shadow: 1px 1px green ;
  color: black;
  font-size: 20px;
  font-family: fantasy;
}

.link {
  color:  #0000EE;
  text-decoration: none;
}

progress {
  margin-top: 20px;
  margin-left: 10px;
  width: 1300px;
  background-color: black;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 20px;
  
}

.nbsa {
  font-family:fantasy;
  text-align: center;
  color: red;
}

#pythonpic {
  width: 10%;
  margin-top: -400px;
  margin-left: 450px;  
}

.homelist {
  float: right;
  margin-top: -350px;
  margin-right: 350px;
  font-family: fantasy;
  font-size: larger;
  text-shadow: 1px 1px green;
}

#headerfaq {
  text-align: center;
  font-family: fantasy;
  margin-left: -30px;
}

.grid-container-blog {
  grid-template-columns: auto auto;
  display: grid;
  row-gap: 100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 70px;

  .item1, .item2, .item3, .item4, .item5 {
    width: 500px;
    border: 1px solid #555  ;
    margin-left: 110px;
    padding: 5px;
    background-color: rgb(218, 216, 216);

  }
}

body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

aside {
  width: 250px;
  background-color: #333;
  color: #fff;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

aside.collapsed {
  transform: translateX(-250px);
}                       

ul.asidemenu li {
  margin-bottom: 10px;
}

ul.asidemenu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
}

ul.asidemenu li a:hover {
  background-color: #111;
}

.content {
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out;
}

.content.collapsed {
  margin-left: 0;
}

#menu-toggle {
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
}

