h1 {
    color:black;
}


article {
    position: relative;
    left: 0px;
    top: 20px;
    background-color: lightblue;
    background-size: 50%;
    }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: #000;
    padding: 8px 15px;
    text-decoration: none;
    background-color: gray;
    width: 85px;
  }

li a:hover {
background-color: rgb(65, 65, 65);
color: white;
}

.active {
    background-color: rgb(65, 65, 65);
    color: white;
  }