main {
    background-color: pink;
    text-align: center;
}

nav {
    ul.menu {
        list-style-type: none;
        display: block;
        background-color: gray;
        padding: 10px 10px;
        text-decoration: none;
        width: 85px;
        text-align: center;
        position: sticky;
        
        
    }
    
}

h1 {
    color:black;
}

ul.properties{
    list-style-type: none;
    text-align: center;
    margin-right: 50px;
    
    
}




/* article {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: lightblue;
    

    
    }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li a {
    display: inline;
    color: #000;
    padding: 10px 10px;
    text-decoration: none;
    background-color: gray;
    width: 85px;
    text-align: center;
    float: left;
  }

li a:hover {
background-color: rgb(65, 65, 65);
color: white;
}

.active {
    background-color: rgb(65, 65, 65);
    color: white;
  } */