
nav {
    ul.menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #111;
      }
    
}

h1 {
    color:black;
}

ul.properties{
    list-style-type: none;
    text-align: center;
    margin-right: 50px;
    
    
}

.grid-container {
  grid-template-columns: 300px auto 300px;
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  .item1 { 
    margin-top: 20px;
    margin-left: 20px ;
  }
  .item2 {
    grid-area:2 / 3 / 1 / 2;
    text-align: center;
  }
  .item3  {
    margin-top: 20px;
    margin-left: -40px;

  }

  .item5{ 
    margin-left: -200px;
  }
  .item6 { 
    margin-top: -60px;
    margin-left: -100px;
  }

}

.grid-container2 {
  display: grid;
  grid-template-columns: 500px auto;
  grid-template-rows: 60px 60px 60px;
  gap: 2px;
  background-color: #111;
  text-align: left;
  text-indent: 10px;
  border: solid;
  
  
  .item {
    color: black;
    background-color: gainsboro;
    margin-top: 0%;
  }
}

table, th, td { 
  border: 1px black;
}

.light-background {
  background-color: lightskyblue;
  text-align: center;
}

table{
  width: 100%;
  tr:nth-child(even) {
    background-color: #de03afb9;
  
  }
  tr{
    height: 40px;
    text-indent: 5px;
  
  }
}

.grid-container3 {
  display: grid;
  grid-template-columns: 500px auto;
  grid-template-rows: 60px 60px 60px;
  gap: 2px;
  background-color: #111;
  text-align: left;
  text-indent: 10px;
  border: solid;
  
  
  .item {
    color: black;
    background-color: gainsboro;
    margin-top: 0%;
  }
}
